/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Neo Sans Arabic";
  src: url("/assets/fonts/NeoSansArabic-Regular.woff2") format("woff2"),
    url("/assets/fonts/NeoSansArabic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neo Sans Arabic";
  src: url("/assets/fonts/NeoSansArabic-Bold.woff2") format("woff2"),
    url("/assets/fonts/NeoSansArabic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Neo Sans Arabic", sans-serif;
  
}

h1,
h2,
h3 {
  font-family: "Neo Sans Arabic", sans-serif;
  font-weight: bold;
}
